<!DOCTYPE html>
<html>
<!-- We add the small piece of template header -->
<% include ./partials/header %>
<% include ./partials/navbar %>
<div id="feeds" email="<%= email %>">
    <h2>Events for You!</h2>
    <!--<h3>Search</h3><input id="search-bar" class="typeahead tt-query autocomplete" type="text" />-->
    

    <ul class="nav justify-content-center nav-tabs nav-fill">
      <li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#public-events" role="tab">Public</a></li>
      <li class="nav-item "><a class="nav-link" data-toggle="tab" href="#private-events" role="tab">Private</a></li>
    </ul>
    <select id="filter-feed-type" class="form-control form-control-sm mt-4">
      <option value="all">All</option>
      <option value="music">Music</option>
      <option value="sport">Sport Event</option>
      <option value="food">Food Event</option>
      <option value="party">Party</option>
      <option value="festival">Festival</option>
      <option value="other">Other</option>    
    </select>
    <div class="tab-content" id="pills-tabContent">
    <div id="public-events" class="tab-pane fade show active" role="tabpanel">
        <% eachEvent.forEach(function(event, index) { %>
        
          <div class="card-deck">


          <div class="card card-events mt-3 p-5" data="<%= event.etype %>">
            <div class="row ">
              <div class="col-md-4">
              <% if (event.etype == "music") { %>
                <img class="card-img-top" src="/images/music.png" alt="Card image cap">
              <% } %>
              <% if (event.etype == "sport") { %>
                <img class="card-img-top" src="/images/sport.png" alt="Card image cap">
              <% } %>
              <% if (event.etype == "food") { %>
                <img class="card-img-top" src="/images/food.png" alt="Card image cap">
              <% } %>
              <% if (event.etype == "party") { %>
                <img class="card-img-top" src="/images/party.png" alt="Card image cap">
              <% } %>
              <% if (event.etype == "festival") { %>
                <img class="card-img-top" src="/images/festival.png" alt="Card image cap">
              <% } %>
              <% if (event.etype == "other") { %>
                <img class="card-img-top" src="/images/other.png" alt="Card image cap">
              <% } %>
            </div>
            <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h4 class="card-title"><%= event.title %></h4>
                <p class="card-text font-weight-light"><em><%= event.date_start %></em></p>
                <p class="card-text"><%= event.location %></p>
                <p class="card-text"><%= event.description %></p>
                <p class="card-text"><%= event.notes %></p>

                <% if (participateEvent.some( (elt) => {return elt.tid == event.tid;}))   { %>
                  <a join="y" id_event="<%= event.tid %>" class="join-event btn btn-info">Un-Join</a>
                <% } else { %>
                  <a join="n" id_event="<%= event.tid %>" class="join-event btn btn-primary">Join Event</a>
                <% } %>            
              </div>
            </div>

          </div>
        </div>
      </div>


        
        
      <% }); %>
      </div>
      <div id="private-events" class="tab-pane fade active">
      <% eachPrivateEvent.forEach(function(event, index) { %>
      
      <div class="card-deck">
          <div class="card card-events mt-3 p-5" data="<%= event.etype %>">
            <div class="row ">
              <div class="col-md-4">
              <% if (event.etype == "music") { %>
                <img class="card-img-top" src="/images/music.png" alt="Card image cap">
              <% } %>
              <% if (event.etype == "sport") { %>
                <img class="card-img-top" src="/images/sport.png" alt="Card image cap">
              <% } %>
              <% if (event.etype == "food") { %>
                <img class="card-img-top" src="/images/food.png" alt="Card image cap">
              <% } %>
              <% if (event.etype == "party") { %>
                <img class="card-img-top" src="/images/party.png" alt="Card image cap">
              <% } %>
              <% if (event.etype == "festival") { %>
                <img class="card-img-top" src="/images/festival.png" alt="Card image cap">
              <% } %>
              <% if (event.etype == "other") { %>
                <img class="card-img-top" src="/images/other.png" alt="Card image cap">
              <% } %>
            </div>
            <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h4 class="card-title"><%= event.title %></h4>
                <p class="card-text font-weight-light"><em><%= event.date_start %></em></p>
                <p class="card-text"><%= event.location %></p>
                <p class="card-text"><%= event.description %></p>
                <p class="card-text"><%= event.notes %></p>

                <% if (participateEvent.some( (elt) => {return elt.tid == event.tid;}))   { %>
                  <a join="y" id_event="<%= event.tid %>" class="join-event btn btn-info">Un-Join</a>
                <% } else { %>
                  <a join="n" id_event="<%= event.tid %>" class="join-event btn btn-primary">Join Event</a>
                <% } %>            
              </div>
            </div>

          </div>
        </div>
      </div>


        
        
      <% }); %>
          </div>
      
    </div>
     
</div>

</div>
  <!-- We add the small piece of template footer -->

  <% include ./partials/footer %>

</html>
